// DVLA COLOUR PALETTE
// Modifies the styles found in: govuk_modules/govuk_frontend_toolkit/stylesheets/colours/_palette.scss

// Brand colours
$green: #006853;
$lime-green: #81bc00;
$cool-gray: #54565b;

// Standard palette, colours

// Standard palette, greys
$black: #000000;
$white: #fff;

// Semantic colour names
$text-colour: $black;
