.check-your-answers {

  td {
    @include core-19;
    font-family: $Helvetica-Regular;
    vertical-align: top;
  }

  .change-answer {
    text-align: right;
    font-weight: bold;
    padding-right: 0;
  }

}
